BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
InsertNewlineAtEOF: true
IncludeBlocks: Merge
SpaceAfterCStyleCast: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Right
AlignArrayOfStructures: Left
BinPackParameters: OnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 10000
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakAssignment: 10000
